<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img src="{% static 'adminlte/dist/img/logo3.png'%}" alt="mirrorlogo" class="brand-image img-circle elevation-3" style="opacity: 100 ! important;">
    <span class="brand-text font-weight-light">项目分析工具</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex" margin:"auto 0">
      <div class="image">
        <img src="{% static 'adminlte/dist/img/userAvatar1.png'%}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">UserAdmin</a>
      </div>
    </div>


    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="{% url 'board:projects' username %}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>我的项目</p>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              项目
              <i class="right fas fa-angle-right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'board:mainboard' username "奥运奖牌榜" %}" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  面板
                </p>
              </a>
            </li>
            <li class="nav-item">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-chart-pie"></i>
                  <p>
                    图表
                    <i class="right fas fa-angle-right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'board:chart1' username "奥运奖牌榜" %}" class="nav-link">
                      <i class="nav-icon far fa-circle text-warning"></i>
                      <p>图表1</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'board:chart2' username "奥运奖牌榜" %}" class="nav-link">
                      <i class="nav-icon far fa-circle text-info"></i>
                      <p>图表2</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'board:chart3' username "奥运奖牌榜" %}" class="nav-link">
                      <i class="nav-icon far fa-circle text-danger"></i>
                      <p>图表3</p>
                    </a>
                  </li>
                </ul>
              </li>

            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>
                  表格
                  <i class="fas fa-angle-right right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{% url 'board:table1' username "奥运奖牌榜" %}" class="nav-link">
                    <i class="nav-icon far fa-circle text-warning"></i>
                    <p>表格1</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'board:table2' username "奥运奖牌榜" %}" class="nav-link">
                    <i class="nav-icon far fa-circle text-info"></i>
                    <p>表格2</p>
                  </a>
                </li>
              </ul>

            </li>
          </ul>
        </li>      -->
        
        <li class="nav-item">
          <a href="{% url 'board:addproject' username %}" class="nav-link">
            <i class="nav-icon far fa-circle fa-plus-square"></i>
            <p>增加项目</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'board:settings' username %}" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>设置中心</p>
          </a>
        </li>

        <li class="nav-header">工具中心</li>
        <li class="nav-item">
          <a href="{% url 'board:calendar' username %}" class="nav-link">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              日历
            </p>
          </a>
        </li>          

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              帮助
              <i class="fas fa-angle-right right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'board:docs' username %}" class="nav-link">
                <i class="nav-icon far fa-circle text-warning"></i>
                <p>使用说明</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'board:contact' username %}" class="nav-link">
                <i class="nav-icon far fa-circle text-info"></i>
                <p>联系我们</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>